<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/community.css">
</head>
<body>
<nav class="footer" th:fragment="foot">
    <hr>
    <div class="inner-1">
        <img src="/imgs/personal.png" alt="Joef Game" style="width: 36px;height: 36px;">
        <img src="/imgs/JoefGame.png" alt="Joef Game">
        <br>
        <br>
        <span>独立游戏爱好者社区</span>
        <br>
        <br>
        <span>Copyright © 2020  JOEF  GAME </span>
        <br>
        <br>
    </div>

    <div class="inner-2">
    </div>
</nav>
</body>
</html>