<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JOEF · GAME 独立游戏爱好者社区|steam历史价格查询</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="baidu-site-verification" content="HLAOO0YScR" />
    <meta name="keywords" content="独立游戏社区,steam数据库,steam历史价格,独立游戏,像素游戏,独立游戏开发,像素风,像素画,steam"/>
    <meta name="description" content="JoefGame,独立游戏社区,独立游戏、像素游戏爱好者聚集地,Steam重度患者聚集地,提供Steam历史价格服务"/>
    <meta name="author" content="Joezeo"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body style="background: white;">

<!--导航栏-->
<div th:replace="navigation :: nav"></div>

<div class="container-fluid" id="index">
    <div class="row row-1">
        <div class="col-lg-6 .col-md-12 .col-sm-12 .col-xs-12">
            <div><h1>JOEF GAME</h1></div>
            <div>一切源于热爱</div>
            <div><input type="button" class="index-joinus-btn" value="加入我们！" @click="btnJumpTo(loadedUser)"></div>
        </div>

        <div class="col-lg-6 .col-md-12 .col-sm-12 .col-xs-12">
<!--            <div style="height: 250px; width: 400px;background: blue;">-->
<!--            </div>-->
        </div>
    </div>

    <div class="row row-2">
        <div class="col-lg-6 .col-md-12 .col-sm-12 .col-xs-12">
        </div>

        <div class="col-lg-6 .col-md-12 .col-sm-12 .col-xs-12">
            <div>
                <div><h1>独立游戏爱好者社区</h1></div>
                <div>寻找你的独立游戏伙伴</div>
            </div>
        </div>
    </div>

    <div class="row row-3">
        <div class="col-lg-6 .col-md-12 .col-sm-12 .col-xs-12">
            <div><h1>Steam想买游戏却不知道何时买？</h1></div>
            <div>Steam数据库为你提供历史价格，让你不被价格所困</div>
        </div>

        <div class="col-lg-6 .col-md-12 .col-sm-12 .col-xs-12">
            <div>
            </div>
        </div>
    </div>

    <div class="row row-4">
        <div class="col-lg-6 .col-md-12 .col-sm-12 .col-xs-12">
            <div>
            </div>
        </div>

        <div class="col-lg-6 .col-md-12 .col-sm-12 .col-xs-12">
            <div><h1>在这里你可以分享游戏的一切</h1></div>
            <div>灵感？像素？你都可以在这里找到</div>
        </div>

    </div>

    <div class="row row-5">
        <div class="col-lg-6 .col-md-12 .col-sm-12 .col-xs-12">
            <div><h1>爱好者？开发者？</h1></div>
            <div>你都能在这里找到归属</div>
        </div>

        <div class="col-lg-6 .col-md-12 .col-sm-12 .col-xs-12">
            <div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer :: foot"></div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/jquery/jquery-3.4.1.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/potal/search.js"></script>
<script src="/js/potal/logout.js"></script>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</body>
</html>
