<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-default" th:fragment="nav">
    <div class="container-fluid" style="background-color: white;">
        <div style="margin-top: 0px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only" style="color:black;font-weight: bold">JOEF</span>
                </button>
                <a class="navbar-brand" href="/"><span style="letter-spacing: 2px;color: black;font-family: aktiv-grotesk, sans-serif;font-size: 16px;-webkit-font-smoothing: antialiased;text-rendering: optimizelegibility;">JOEF GAME</span></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-left">
                    <li th:if="${session.user != null}">
                        <a href="/home" style="font-weight: bold;color: black;">
                            <img src="/imgs/home.png" alt="" style="height: 21px;width: 21px;margin-top: -2px;"> 小窝</a></li>
                    <li>
                        <a href="/forum" style="font-weight: bold;color: black;">
                            <img src="/imgs/forum.png" alt="" style="height: 21px;width: 21px;margin-top: -2px;"> 社区</a></li>
                    <li>
                        <a href="/steam/apps" style="font-weight: bold;color: black;">
                            <img src="/imgs/steam.png" alt=""> Steam 数据库</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right" th:if="${#httpServletRequest.requestURI != '/login' and #httpServletRequest.requestURI != '/signup'}">
                    <li>
                        <form class="navbar-form navbar-right" action="/" method="get">
                            <a href="" id="search-icon"><img src="/imgs/search.png" alt="" style="width: 28px;height: 28px;margin-top: 2px;margin-right: -10px;"></a>
                            <div class="form-group">
                                <input id="input-condition" name="condition" type="text" class="form-control" placeholder="搜索..."
                                       style="font-weight: bold;display: none;">
                            </div>
                        </form>
                    </li>

                    <li th:if="${session.user == null}">
                        <a href="/login" style="font-weight: bold;">登录</a>
                    </li>

                    <li th:if="${session.user != null}">
                        <a href="/profile/notify" style="color: black;font-weight: bold;margin-top: -5px;" aria-placeholder="通知">
                            <img src="/imgs/message.png" alt="" style="width: 28px;height: 28px;margin-right: -5px;">
                            <span th:text="${session.unreadCount}"></span></a>
                    </li>

                    <li class="dropdown nav-person-panel" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" style="margin-top: -7px;">
                            <img th:src="${session.user.avatarUrl}" alt="" style="border-radius: 20px;width: 32px;height: 32px;">
                        </a>
                        <ul class="dropdown-menu">
                            <li th:text="${session.user.name}"></li>
                            <li><a href="/profile/topics">个人中心 </a></li>
                            <hr>
                            <li>创作新主题</li>
                            <li><a href="/publish">发帖子</a></li>
                            <li><a href="/write">发文章</a></li>
                            <hr>
                            <th:block th:if="${session.user.id == 1}">
                                <li>管理员</li>
                                <li><a href="/manager/panel">后台管理系统</a></li>
                            </th:block>
                            <li><a id="logout">退出登录 </a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>
</body>
</html>
