<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOME | JOEF · GAME</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<div id="home">
    <!--导航栏-->
    <div th:replace="navigation :: nav"></div>

    <div class="container-fluid home">
        <div class="row" v-if="loadedUser" v-cloak>
            <div class="col-lg-3 .col-md-12 .col-sm-12 .col-xs-12">
                <div class="left">
                    <div class="user-info">
                        <img :src="user.avatarUrl" :alt="user.name"><br>
                        <span v-text="user.name"></span>
                    </div>
                    <hr>
                    <span><h4>关注的</h4></span>
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a @click="listUser()">用户</a></li>
                        <li role="presentation"><a @click="listSteam()">Steam 应用</a></li>
                    </ul>

                    <!--            关注的用户/steam应用-->
                    <div v-if="loadedSubscribe" v-cloak>
                        <div v-if="subscribeType=='user'">
                            <table>
                                <tr v-for="user in pagination.datas">
                                    <td><img :src="user.avatarUrl" class="followed-uesr-avatar"></td>
                                    <td><a :href="'/user/' + user.id" v-text="user.name"></a></td>
                                </tr>
                            </table>
                        </div>
                        <div v-if="subscribeType=='steam'">
                            <table>
                                <tr v-for="app in pagination.datas">
                                    <td><a :href="'/steam/app/' + app.appid" v-text="app.name"></a></td>
                                    <td>
                                        <span v-if="app.originalPrice==0">免费</span>
                                        <span v-else-if="app.finalPrice!=app.originalPrice">原价</span>
                                        <span v-else>特惠</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--            分页条开始-->
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li v-if="pagination.hasFirst">
                                    <a @click="listSubscribe(1,subscribeType)" aria-label="First">
                                        <span aria-hidden="true">&lt;&lt;</span>
                                    </a>
                                </li>
                                <li v-if="pagination.hasPrevious">
                                    <a @click="listSubscribe(pagination.page-1,subscribeType)"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&lt;</span>
                                    </a>
                                </li>

                                <li v-for="page in pagination.pages" :class="[page==pagination.page?'active':'']"><a
                                        @click="listSubscribe(page,subscribeType)" v-text="page"></a></li>

                                <li v-if="pagination.hasNext">
                                    <a @click="listSubscribe(pagination.page+1,subscribeType)" aria-label="Next">
                                        <span aria-hidden="true">&gt;</span>
                                    </a>
                                </li>
                                <li v-if="pagination.hasLast">
                                    <a @click="listSubscribe(pagination.totalPage,subscribeType)" aria-label="Last">
                                        <span aria-hidden="true">&gt;&gt;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!--            分页条结束-->
                    </div>
                </div>
            </div>

            <div class="col-lg-6 .col-md-12 .col-sm-12 .col-xs-12">
                <div class="middle">

                </div>
            </div>
            <!--        右侧信息条-->
            <div class="col-lg-3 .col-md-12 .col-sm-12 .col-xs-12">
                <div class="right">

                </div>
            </div>
        </div>
    </div>

    <div th:replace="footer :: foot"></div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/jquery/jquery-3.4.1.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/potal/commonSearch.js"></script>
<script src="/js/potal/home.js"></script>
<script src="/js/potal/logout.js"></script>
<script src="/layer/layer.js"></script>
</body>
</html>
