<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录 | JOEF · GAME</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<!--导航栏-->
<div th:replace="navigation :: nav"></div>

<div class="container-fluid login-main login" style="margin-bottom: 30px;" id="login">
    <div class="row">
        <div class="up-div">
            <div class="login-div">
            <img src="/imgs/login.png" alt="" class="login-ico">
                <div class="panel">
                    <br>
                    <div class="form-group">
                        <label for="username">请输入邮箱</label>
                        <input v-model="email" type="email" class="form-control" id="username" placeholder="请输入邮箱">
                    </div>
                    <div class="form-group">
                        <label for="password">请输入密码</label>
                        <input v-model="password" type="password" class="form-control" id="password" placeholder="请输入密码">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input v-model="rememberMe" type="checkbox"> 记住我
                        </label>
                    </div>
                    <button @click="login(email,password,rememberMe)" type="button" class="btn pixel-btn">登录</button>
                    <br>
                    <a href="/signup">注册账号</a>
                    <a href="">忘记密码</a>
                </div>
            </div>
        </div>

        <div class="row down-div">
            <div><h2>第三方登录</h2></div>
            <hr>
            <div class="third-part-login">
                <div class="github-login-sub">
                    <img src="/imgs/github.png" alt="Gitub" style="float: left;">
                    <a href="/githubLogin">Github登录</a>
                </div>
            </div>
            <div class="third-part-login">
                <div class="steam-login-sub">
                    <img src="/imgs/steam_sign.png" alt="Steam" style="float:left;">
                    <a href="/steam/auth">Steam登录 <img src="/imgs/sits_small.png" alt="Steam"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/jquery/jquery-3.4.1.js"></script>
<script src="/jquery/jquery-form.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/potal/commonSearch.js"></script>
<script src="/js/potal/login.js"></script>
<script src="/layer/layer.js"></script>
</body>
</html>