<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>阅读中 | JOEF · GAME</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/editor/css/editormd.preview.min.css">
</head>
<body>

<!--导航栏-->
<div th:replace="navigation :: nav"></div>

<div class="container-fluid main" id="topic">
    <div class="row">
        <!-- 页面左侧主体部分 -->
        <div class="col-lg-10 .col-md-12 .col-sm-12 .col-xs-12">
            <template v-if="loadedTopic" v-cloak>
                <!--            帖子标题，及相关信息-->
                <div style="border-bottom: 1px solid #efefef;">
                    <br>
                    <input type="hidden" id="quesitonId" :value="topic.id">
                    <span class="topic-title"><span v-text="topic.title"></span></span>

                    <!--           标签-->
                    <!--                <hr>-->
                    <span style="padding-bottom: 7px;">
                    <span class="label label-info" v-for="tag in splitTag(topic.tag)" style="margin-right: 7px;">
                        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                        <span v-html="tag"></span>
                    </span>
                    </span>
                    <br>
                    <span class="community-menu">
                作者&nbsp;<span v-text="topic.user.name"></span> |
                发布于&nbsp;<span v-text="timestampToTime(topic.gmtCreate)"></span> |
                阅读数&nbsp;<span v-text="topic.viewCount"></span>
            </span>
                </div>

                <!--           帖子描述 -->
                <div v-html="topic.description" class="topic-desc" style=""></div>

                <div class="topic-sub">

                    <!--            帖子相关选项：编辑等等-->
                    <div class="topic-option" v-if="user != null" v-cloak style="">
                        <!--                        点赞按钮-->
                        <a :class="'topic-option ' + liked" @click="likeTopic(topicId,user.id,likeStatus)">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <span v-text="topic.likeCount"></span>
                        </a>
                        <template v-if="user.id == topic.user.id">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <!--                        编辑按钮-->
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><a class="topic-option"
                                                                                                  :href="'/publish/'+topic.id">编辑</a>
                        </template>
                    </div>
                </div>
            </template>


            <!--            评论区-->
            <div style="margin-top: 60px;">
                <div class="comment-head">
                    <h2><span v-text="topic.commentCount"></span>个回复</h2>
                    <template v-if="loadedComments" v-for="comment,idx in comments" v-cloak>
                        <!-- 评论主体 -->
                        <div class="media comment-div">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object head-img" :src="comment.user.avatarUrl" alt="用户头像"
                                         style="border-radius: 8px;">
                                </a>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="#" v-text="comment.user.name"></a></h6>
                            </div>

                            <div v-text="comment.content" class="comment-cotent"></div>

                            <!-- 评论的点赞，回复，时间图标 -->
                            <div class="comment-icon">
                                <a @click.capture="likeComment(comment.id,user.id,idx)" :class="comment.likeClass">
                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                    <span v-text="comment.likeCount"></span>
                                </a>
                                <a @click.capture="subComment(comment.id)" :value="comment.id" class="reply-comment">
                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                    <span :id="'subcomment-count'+comment.id" v-text="comment.commentCount"></span>
                                </a>
                                <span class="comment-date"
                                      v-text="timestampToTime(comment.gmtCreate)"></span>
                            </div>
                            <!-- 二级评论 -->
                            <div class="sub-comment collapse" v-if="loadedSubComments" :id="'subcomment-' + comment.id">
                                <!-- 加载二级评论 -->
                                <div v-for="subComment in subComments">
                                    <div class="media" style="border-bottom: 1px solid #efefef">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" :src="subComment.user.avatarUrl" alt="avatar"
                                                     style="width: 36px;height: 36px;border-radius: 6px;margin: 10px;">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="media-heading" style="margin-top: 10px;"><a href="#"
                                                                                                   v-text="subComment.user.name"></a>
                                            </h6>
                                            <div v-text="subComment.content" class="sub-comment-content"></div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <input type="email" class="form-control" :id="'subcomment-content-' + comment.id"
                                           style="margin-top: 3px;"
                                           placeholder="评论一下...">
                                </div>
                                <div style="text-align: right">
                                    <button @click.capture="doSubcomment(comment.id)" type="button" :value="comment.id"
                                            class="btn btn-default btn-sm btn-success reply">回复
                                    </button>
                                    <button @click.capture="closeSubcomment(comment.id)" :value="comment.id"
                                            type="button" class="btn btn-default btn-sm back">
                                        取消
                                    </button>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>

                <div class="comment-body" v-if="loadedUser" v-cloak> <!-- 需要被隐藏的部分 - 回复区 -->
                    <h2>回复</h2>
                    <div class="reply-zone">
                        <div class="media" style="margin-bottom: 10px;">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object head-img" :src="user.avatarUrl" alt="用户头像"
                                         style="border-radius: 8px;">
                                </a>
                            </div>
                            <div class="media-body comment-user-name">
                                <h6 class="media-heading"><a href="#" v-text="user.name"></a></h6>
                            </div>
                        </div>

                        <textarea v-model="commentContent" class="form-control" name="content" id="content" cols="30"
                                  rows="10"></textarea>

                        <button @click="doComment" id="btn-comment-reply" type="button"
                                class="btn btn-success pixel-btn">
                            回复
                        </button>
                    </div>
                </div>

                <div v-if="!loadedUser" style="text-align: center; margin-bottom: 20px" v-cloak>
                    <hr>
                    <a @click="autoLogin" id="auto-login">需登录后才能回复，点击此处自动登录</a>
                </div>
            </div>
        </div>

        <!-- 页面右侧消息块 -->
        <div class="col-lg-2 .col-md-12 .col-sm-12 .col-xs-12">
            <!--            发起人-->
            <div style="margin-top: 30px;">
                <h4>发起人</h4>
                <div class="media" v-if="loadedTopic">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object head-img" :src="topic.user.avatarUrl" alt="用户头像"
                                 style="border-radius: 8px;">
                        </a>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading"><a href="#" v-text="topic.user.name"></a></h6>
                    </div>
                </div>
            </div>

            <!--            相关帖子-->
            <div class="related-topic">
                <hr>
                <h4>相关帖子</h4>
                <ul style="list-style: none;padding-left: 0px; font-size: 13px; line-height: 30px">
                    <li v-for="related in topic.relateds">
                        <a :href="'/topic/'+related.id" v-text="related.title"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer :: foot"></div>
<script src="/jquery/jquery-3.4.1.js"></script>
<script src="/editor/lib/marked.min.js"></script>
<script src="/editor/js/editormd.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/editor/lib/prettify.min.js"></script>
<script src="/js/potal/topic.js"></script>
<script src="/js/potal/search.js"></script>
<script src="/js/potal/logout.js"></script>
</body>
</html>
