html{
    height: 100%;
}
body{
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    /*background-image: url(http://joezeo.cn-bj.ufileos.com/c307b3eb-b4b2-4216-a5dd-c1d5fff75751.jpg);*/
    background: url("/imgs/back.png") no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center 0%;
    /*background-color: white;*/
    font-family: "幼圆";
    font-weight: bold;
}
h2{
    letter-spacing: 3px;
}
a{
    color: black;
    font-family: Consolas;
}
[v-cloak] {
    display: none;
}
.top-row{
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
}

#Tabs {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#Tabs .tab{
    padding-right: 5px;
    color: black;
    border: 6px white solid;
}
#Tabs a:hover{
    background-color: #f5f5f5;
    text-decoration: none;
    border: 6px #f5f5f5 solid;
    border-radius: 5px;
}
.selectedTab{
    background-color: black;
    border: 6px black solid;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.inner {
    margin-top: 25px;
    margin-left: -30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
}

.index-topic-title{
    padding-top: 5px;
    color: black;
    text-decoration: none;
}

.main{
    z-index: 300;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    flex: 1;
    border: solid #222034 3px;
    border-radius: 20px;
}

.footer{
    margin-top: 50px;
    border-top: 1px solid rgba(0,0,0,.22);
    background-color: white;
    color: #999;
    text-align: center;
    font-weight: bold;
    padding: 0 10px;
}

.media{
    margin-top: 0px;
}

.footer .inner-1{
    margin-left: 7%;
    text-align: left;
    font-family: Consolas;
}
.footer .inner-2{
    margin-left: 10%;
    text-align: left;
    font-family: Consolas;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.head-img{
    width: 40px;
    height: 40px;
}

.btn-topic{
    margin-top: 7px;
}

.profile .section{
    margin-top: 20px;
}

.community-menu {
    font-size: 12px;
    color: #999;
    font-family: candara,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif, -apple-system;
    -webkit-font-smoothing: antialiased;
}

.topic-desc{
    font-family: candara,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif, -apple-system;
    -webkit-font-smoothing: antialiased;
    color: #333;
    margin-left: 5px;
    margin-top: 17px;
}

.topic-title{
    font-family: candara,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif, -apple-system;
    -webkit-font-smoothing: antialiased;
    color: #333;
}

.topic-option{
    color: #999;
    font-size: 12px;
}

.comment-head h2{
    margin-top: 40px;
    font-size: 20px;
}

.comment-body h2{
    margin-top: 40px;
    font-size: 20px;
}

.comment-user-name{
    padding-top:15px;
}

#publish-form .form-control{
    margin-top: 10px;
}

#btn-comment-reply {
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.comment-cotent{
    padding-left: 50px;
    margin-top: -20px;
}

.comment-head .comment-div{
    margin-top: 45px;
    margin-bottom: 45px;
    border-bottom: 1px solid #eee;
}

.comment-head .comment-icon {
    margin-left: 50px;
    margin-top: 5px;
    height: 28px;
    color: #999999;
    line-height: 28px;
    text-decoration: none;
    padding-bottom: 5px;
}

.comment-head .comment-icon a{
    color: #999999;
    padding-right: 8px;
}

.comment-head .comment-icon a:hover{
    color:#499ef3;
}

.comment-icon .comment-date{
    float: right;
}

.isShowSubComment {
    color: #499ef3;
}

.sub-comment{
    position: relative;
    margin: 10px 40px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}

.sub-comment input{
    /*margin-top: -30px;*/
    margin-left: 2.5%;
    width: 95%;
    overflow: hidden; overflow-wrap: break-word; resize: none; height: 34px;
}

.sub-comment button{
    margin: 10px 5px;
}

.label-span{
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}
.btn-allread {
    height: 24px;
    padding: 0 10px;
    line-height: 24px;
    font-weight: normal;
    font-size: 12px;
    float:right;
    margin-top: 30px;
}

/*回到顶部按钮*/
.totop {
    position: fixed;
    z-index: 2;
    right: 45px;
    bottom: 120px;
    height: 35px;
    font-size: 3em;
    padding: 0 8px;
    font-weight: 600;
    border-radius: 6px;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 1.42857143;
    color: #009a61 !important;
    text-decoration: none !important;
    background-color: rgba(217, 217, 217, 1);
    opacity: .4;
    filter: alpha(opacity=40);
    font-family: microsoft yahei
}

.totop:hover {
    color: #fff !important;
    background-color: #009a61
}
/*回到顶部结束*/


.pixel-btn{
    font-family: "幼圆";
    font-weight: bold;
    background: #55ff75;
    color: black;
    border-radius: 10px;
}

.pixel-btn:hover{
    background: #14ff3f;
    color: black;
}
