body{
    background-color: #efefef;
}

.main{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.head-img{
    width: 40px;
    height: 40px;
}

.btn-question{
    margin-top: 7px;
}

.profile .section{
    margin-top: 20px;
}

.community-menu {
    font-size: 12px;
    color: #999;
    font-family: candara,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif, -apple-system;
    -webkit-font-smoothing: antialiased;
}

.question-desc{
    font-family: candara,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif, -apple-system;
    -webkit-font-smoothing: antialiased;
    color: #333;
    margin-left: 20px;
}

.question-title{
    font-family: candara,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif, -apple-system;
    -webkit-font-smoothing: antialiased;
    color: #333;
}

.question-option{
    color: #999;
    font-size: 12px;
}

.comment-head h2{
    margin-top: 40px;
    margin-left: 20px;
    font-size: 20px;
}

.comment-body h2{
    margin-top: 40px;
    margin-left: 20px;
    font-size: 20px;
}

.comment-user-name{
    padding-top:15px;
}

.form-control{
    margin-top: 10px;
}

#btn-comment-reply {
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.comment-cotent{
    padding-left: 50px;
    margin-top: -20px;
}

.comment-head .comment-div{
    margin-top: 45px;
    margin-bottom: 45px;
    border-bottom: 1px solid #eee;
}

.comment-head .comment-icon {
    margin-left: 50px;
    margin-top: 5px;
    height: 28px;
    color: #999999;
    line-height: 28px;
    text-decoration: none;
    padding-bottom: 5px;
}

.comment-head .comment-icon a{
    color: #999999;
    padding-right: 8px;
}

.comment-head .comment-icon a:hover{
    color:#499ef3;
}

.comment-icon .comment-date{
    float: right;
}

.isShowSubComment {
    color: #499ef3;
}

.sub-comment{
    position: relative;
    margin: 10px 40px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}

.sub-comment input{
    /*margin-top: -30px;*/
    margin-left: 2.5%;
    width: 95%;
    overflow: hidden; overflow-wrap: break-word; resize: none; height: 34px;
}

.sub-comment button{
    margin: 10px 5px;
}

