img{
    margin-left: 25.5%;
    margin-top: -7px;
    width: 700px;
    height: 430px;
    display: block;
    background-size:cover;
    border: 4px solid gray;
    border-radius: 15px;
}


.panel-body{
    width: 90%;
    height: 450px;
}

.panel-footer{
    height: 70px;
}

.imgsrc-input{
    width: 300px
}