<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>出错啦！！</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container" style="margin-top: 190px">
    <img src="http://joezeo.cn-bj.ufileos.com/eea7a15e-ddfe-4b7d-b87e-8d22eed290ae.jpg" alt="" style="float: right;">
    <h1>出错啦！！</h1>
    <br>
    <h3 th:text="${message}"></h3>
    <br>
    <p><a class="btn btn-primary btn-lg" href="/" role="button" style="background: white;color: black;">回到主页</a></p>
</div>
<script src="/jquery/jquery-3.4.1.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>