<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>
<nav class="footer" th:fragment="foot">
    <div class="inner-1">
        <ul style="list-style-type: none;width: 300px;">
            <li style="float: left;">
                <h1 style="margin-top: -10px;margin-right: 10px">JOEF</h1>
            </li>
            <li class="dropup" style="float: left;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false" style="color: #999">
                    <span style="font-weight: bold;">小工具</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/gallery">图床</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <br><br>
    <div class="inner-2">
        <span>Copyright © 2020 · JOEF · GAME </span>
    </div>
</nav>
</body>
</html>