<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人中心 - JOEF</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>

<!--导航栏-->
<div th:replace="navigation :: nav"></div>

<div class="container-fluid main profile" id="profile">
    <div class="row">
        <div class="col-lg-9 .col-md-12 .col-sm-12 .col-xs-12">
            <div class="row top-row" style="margin-bottom: 15px;">

                <div class="col-lg-9 .col-md-9 .col-sm-9 .col-xs-9">
                    <h2><img v-if="section=='topics'" v-cloak src="/imgs/mytopic.png" alt="" style="margin-top: -10px;">
                        <img v-if="section=='notify'" v-cloak src="/imgs/notify.png" alt="" style="margin-top: -10px;">
                        <span v-text="sectionName"></span></h2>
                </div>

                <div class="col-lg-3 .col-md-3 .col-sm-3 .col-xs-3">
                    <button @click="readAllNotification" type="button" class="btn btn-success btn-allread pixel-btn" v-if="section=='notify'" v-cloak>全部已读
                    </button>
                </div>
            </div>

            <template v-if="loaded">
                <!--            我的帖子-->
                <div v-if="section == 'topics'">
                    <div class="media" v-for="topic in pagination.datas">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object head-img" :src="topic.user.avatarUrl" alt="用户头像"
                                     style="border-radius: 8px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a :href="'/topic/'+topic.id"
                                                         style="color: black;padding-top: 10px;font-size: 16px;"
                                                         v-text="topic.title"></a></h4>
                            <span class="text-desc"><span v-text="topic.commentCount"></span> 个评论 • <span
                                    v-text="topic.viewCount"></span> 次浏览 • <span
                                    v-text="timestampToTime(topic.gmtCreate)"></span></span></span>
                        </div>
                        <hr>
                    </div>
                </div>
            </template>

            <template v-if="loaded">
                <!--            最新回复-->
                <div v-if="section == 'notify'">
                    <div v-for="notify in pagination.datas">
                        <p>
                            <a href="#" v-text="notify.notifiername"></a>
                            <span v-text="notify.type"></span>
                            <a :href="'/notification/'+notify.id" v-text="notify.relatedname"></a>
                            <span class="label label-warning" v-if="notify.status == 0">未读</span>
                        </p>
                    </div>
                </div>
            </template>

            <template v-if="loaded">
                <!--            分页条开始-->
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li v-if="pagination.hasFirst">
                            <a @click="getDatas(section,1)" aria-label="First">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li v-if="pagination.hasPrevious">
                            <a @click="getDatas(section,pagination.page-1)" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li v-for="page in pagination.pages" :class="page==pagination.page?'active':''">
                            <a @click="getDatas(section,page)" v-text="page">1</a></li>
                        <li v-if="pagination.hasNext">
                            <a @click="getDatas(section,pagination.page+1)" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li v-if="pagination.hasLast">
                            <a @click="getDatas(section,pagination.totalPage)" aria-label="Last">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!--            分页条结束-->
            </template>

        </div>
        <div class="col-lg-3 .col-md-12 .col-sm-12 .col-xs-12">
            <div class="list-group section">
                <a href="/profile/topics" type="button" class="list-group-item">我的帖子</a>
                <a href="/profile/notify" type="button" class="list-group-item">
                    最新回复
                    <span class="badge" v-text="unreadCount"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer :: foot"></div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/jquery/jquery-3.4.1.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/profile.js"></script>
<script src="/js/search.js"></script>
</body>
</html>
