<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发起问题 - Joezeoの自留地</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/jquery/jquery-3.4.1.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/publish.js"></script>
</head>
<body>

<!--导航栏-->
<div th:replace="navigation :: nav"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 .col-md-12 .col-sm-12 .col-xs-12">
            <h2><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 发起</h2>
            <hr>

            <form id="publish-form">
                <input type="hidden" th:value="${id}" name="id" id="id">
                <div class="form-group">
                    <label for="title"> 问题标题（简明扼要）：</label>
                    <input th:value="${title}" type="email" class="form-control" id="title" name="title" placeholder="问题标题...">
                    <div id="title-warning" class="alert alert-warning" role="alert" style="display: none">
                       问题标题不可为空，请输入
                    </div>
                </div>

                <div class="form-group">
                    <label for="description"> 问题描述（详细描述）：</label>
                    <textarea th:text="${description}" class="form-control" name="description" id="description" cols="30" rows="10"></textarea>
                    <div id="des-warning" class="alert alert-warning" role="alert" style="display: none">
                        问题描述不可为空，请输入
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="tag"> 添加标签：</label>
                    <input th:value="tag" type="email" class="form-control" id="tag" name="tag" placeholder="输入标签，以,分隔">
                    <div id="tag-warning" class="alert alert-warning" role="alert" style="display: none">
                        问题标签不可为空，请输入
                    </div>
                </div>
                <button id="publish-btn" type="button" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>

        <div class="col-lg-3 .col-md-12 .col-sm-12 .col-xs-12">
            <h3 class="question-title" style="margin-top: 35px;">问题发起指南</h3>
            <div class="question-desc">
                • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
                • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
                • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
            </div>
        </div>
    </div>
</div>
</body>
</html>
