<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${topic.title} + ' - JOEF'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/editor/css/editormd.preview.min.css">
    <script src="/jquery/jquery-3.4.1.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/topic.js"></script>
    <script src="/editor/js/editormd.min.js"></script>
    <script src="/editor/lib/marked.min.js"></script>
    <script src="/editor/lib/prettify.min.js"></script>
</head>
<body>

<!--导航栏-->
<div th:replace="navigation :: nav"></div>

<div class="container-fluid main">
    <div class="row">
        <!-- 页面左侧主体部分 -->
        <div class="col-lg-9 .col-md-12 .col-sm-12 .col-xs-12">
            <!--            帖子标题，及相关信息-->
            <div style="margin-left: 20px">
                <input type="hidden" id="quesitonId" th:value="${topic.id}">
                <h3 class="topic-title"><span th:text="${topic.title}"></span></h3>
                <span class="community-menu">
                作者&nbsp;<span th:text="${topic.user.name}"></span> |
                发布于&nbsp;<span th:text="${#calendars.format(topic.gmtCreate,'dd MMMM yyyy')}"></span> |
                阅读数&nbsp;<span th:text="${topic.viewCount}"></span>
            </span>
            </div>

            <!--           帖子描述 -->
            <hr>
            <div id="topic-markdown-view" class="topic-desc">
                <textarea style="display: none;" th:text="${topic.description}"></textarea>
            </div>

            <!--           标签-->
            <hr>
            <div style="margin-left: 20px;">
            <span class="label label-info" th:each="tag : ${topic.tag.split(',')}" style="margin-right: 7px;">
                        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                        <span th:text="'&nbsp;&nbsp;'+${tag}"></span>
            </span>
            </div>

            <!--            帖子相关选项：编辑等等-->
            <hr>
            <div class="topic-option" th:if="${session.user != null && session.user.id == topic.user.id}"><span
                    class="glyphicon glyphicon-pencil" aria-hidden="true"></span><a class="topic-option"
                                                                                    th:href="@{/publish/{id}(id=${topic.id})}">编辑</a>
            </div>

            <!--            评论区-->
            <div style="margin-top: 60px;">
                <div class="comment-head">
                    <h2><span th:text="${topic.commentCount}"></span>个回复</h2>

                    <hr>
                    <!-- 评论主体 -->
                    <div class="media comment-div" th:each="comment : ${comments}">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object head-img" th:src="@{${comment.user.avatarUrl}}" alt="用户头像">
                            </a>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading"><a href="#" th:text="${comment.user.name}"></a></h6>
                        </div>

                        <div th:text="${comment.content}" class="comment-cotent"></div>

                        <!-- 评论的点赞，回复，时间图标 -->
                        <div class="comment-icon">
                            <a>
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                <span th:text="${comment.likeCount}"></span>
                            </a>
                            <a th:data-id="${comment.id}" class="reply-comment">
                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                <span th:id="'subcomment-count'+${comment.id}" th:text="${comment.commentCount}"></span>
                            </a>
                            <span class="comment-date"
                                  th:text="${#calendars.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>
                        </div>
                        <!-- 二级评论 -->
                        <div class="sub-comment collapse" th:id="'subcomment-' + ${comment.id}">
                            <div th:id="'data-load-div-' + ${comment.id}"></div>
                            <div>
                                <input type="email" class="form-control" th:id="'subcomment-content-' + ${comment.id}"
                                       placeholder="评论一下...">
                            </div>
                            <div style="text-align: right">
                                <button type="button" class="btn btn-default btn-sm btn-success reply">回复</button>
                                <button type="button" class="btn btn-default btn-sm back">取消</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comment-body" th:if="${session.user != null}"> <!-- 需要被隐藏的部分 -->
                    <h2>回复</h2>
                    <hr>
                    <div class="media" style="margin-bottom: 10px;">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object head-img" th:src="@{${session.user.avatarUrl}}" alt="用户头像">
                            </a>
                        </div>
                        <div class="media-body comment-user-name">
                            <h6 class="media-heading"><a href="#" th:text="${session.user.name}"></a></h6>
                        </div>
                    </div>

                    <textarea class="form-control" name="content" id="content" cols="30" rows="10"></textarea>

                    <button id="btn-comment-reply" type="button" class="btn btn-success">回复</button>
                </div>
                <div th:if="${session.user == null}" style="text-align: center; margin-bottom: 20px">
                    <hr>
                    <a id="auto-login">需登录后才能回复，点击此处自动登录</a>
                </div>
            </div>
        </div>

        <!-- 页面右侧消息块 -->
        <div class="col-lg-3 .col-md-12 .col-sm-12 .col-xs-12">
            <!--            发起人-->
            <div style="margin-top: 30px;">
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object head-img" th:src="@{${topic.user.avatarUrl}}" alt="用户头像">
                        </a>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading"><a href="#" th:text="${topic.user.name}"></a></h6>
                    </div>
                </div>
            </div>

            <!--            相关帖子-->
            <div class="related-topic">
                <hr>
                <h4>相关帖子</h4>
                <ul style="list-style: none;padding-left: 0px; font-size: 13px; line-height: 30px">
                    <li th:each="related : ${topic.relateds}" >
                        <a th:href="@{/topic/{id}(id=${related.id})}" th:text="${related.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
