.home{
    margin-left: 170px !important;
    margin-right: 190px !important;
}
/*左侧区域开始*/
.left {
    border: solid #d7cedb 1px;
    border-radius: 5px;
    height: 550px;
    width: 266px;
}
.user-info {
    text-align: center;
    margin-top: 20px;
}
.user-info img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-bottom: 10px;
}
.user-info span{
    font-weight: bold;
    font-size: 16px;
    color: rgb(36, 30, 18);
}
.user-bio{
    font-weight: 300 !important;
    font-size: 14px !important;
    color: #999999 !important;
}
/* 左侧区域结束 */
.middle {
    border: solid #d7cedb 1px;
    border-radius: 5px;
    height: 550px;
    width: 552px;
}
.right-up {
    border: solid #d7cedb 1px;
    border-radius: 5px;
    height: 240px;
    width: 270px;
    margin-bottom: 30px;
}
.right-down {
    border: solid #d7cedb 1px;
    border-radius: 5px;
    height: 240px;
    width: 270px;
}
.followed-uesr-avatar{
    width: 36px;
    height: 36px;
    border-radius: 36px;
}
.home-left-subscribe-table{
    border-bottom: #efefef 3px solid;
    width: 260px;
    height: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.home-left-subscribe-table td{
    cursor:pointer;
    width: 130px;
    height: 27px;
}
.home-left-subscribe-table td:hover{
    border-bottom: 3px #999999 solid;
}
.my-active{
    border-bottom: 3px #d13d2a solid;
}

/*关注的XX样式*/
.common-span{
    color: #999999;
    font-weight: 20;
    font-size: 15px;
    margin-left: 10px;
}
.steam-tr{

}
.user-tr{

}
.user-steam-common-tr{
    color: #999999;
    font-weight: 20;
    width: 112px;
}
.user-steam-common-table{
    table-layout: fixed;
}
.user-steam-common-table td{
    height: 34px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 10px !important;
}
.page-pos{
    position: relative;
    float: right;
    right: 10px;
}

/* middle zone*/
.home-middle-select-table{
    border-bottom: #efefef 3px solid;
    width: 552px;
    height: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.home-middle-select-table td{
    cursor:pointer;
    width: 130px;
    height: 27px;
}
.home-middle-select-table td{
    cursor:pointer;
    width: 130px;
    height: 27px;
}
.home-middle-select-table td:hover{
    border-bottom: 3px #999999 solid;
}
