.panel-left{
    position: fixed;
    top: 60px;
    left: 0;
    width: 200px;
    height: 100%;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: left;
}
.panel-left ul{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}
.panel-left li{
    margin-bottom: 10px;
}
.panel-left a:hover{
    text-decoration: none;
    color: black;
    background: #999999;
}

.panel-right{
    border: #999999 solid 1px;
    border-radius: 7px;
    width: 1150px;
    height: 550px;
    margin-left: 300px;
    margin-top: 20px;
    box-sizing: border-box;
}

.panel-right .title{
    margin-left: 10px;
}
.panel-right .content{
    margin-left: 10px;
    margin-right: 10px;
}
.panel-right .btn{
    width: 170px !important;
    text-align: center !important;
}
.panel-right ul{
    list-style: none;
}
.panel-right li{
    margin-bottom: 10px;
}
.panel-right .show-zone{
    border: #efefef solid 1px;
    border-radius: 7px;
    width: 780px;
    height: 400px;
    margin-left: 20px;
    margin-top: 5px;
    box-sizing: border-box;
}

.pixel-btn-red{
    background: #e7513b !important;
    color: white !important;
    border-radius: 7px !important;
}
.process-heading{
    background: white !important;
}
.process-see{
    width: 40px !important;
    background: #0088ff !important;
    color: white;
    border-radius: 7px;
}
.process-delete{
    width: 40px !important;
    background: #e7513b !important;
    color: white;
    border-radius: 7px;
    float: right;
}
.model-close{
    background: #004c81 !important;
    color: white !important;
    border-radius: 7px;
}
