<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joezeo.community.mapper.QuestionMapper">
    <insert id="insert" parameterType="Question">
        insert into t_question
        (title, description, tag, comment_count, view_count, like_count, gmt_create, gmt_modify, userid)
        values
        (#{title}, #{description}, #{tag}, #{commentCount}, #{viewCount}, #{likeCount}, #{gmtCreate},
        #{gmtModify}, #{userid})
    </insert>

    <select id="selectAll" resultType="Question">
        select * from t_question
    </select>

    <select id="selectCount" resultType="int">
        select count(1) from t_question
    </select>

    <select id="selectPage" resultType="Question">
        select * from t_question
        limit #{index},#{size}
    </select>

    <select id="selectCountByUserid" resultType="int">
        select count(1) from t_question
        where userid = #{userid}
    </select>

    <select id="selectPageByUserid" resultType="Question">
        select * from t_question
        where userid = #{userid}
        limit #{index},#{size}
    </select>

    <select id="selectById" resultType="Question">
        select * from t_question
        where id = #{id}
    </select>

    <update id="update" parameterType="Question">
        update t_question
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>

            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="tag != null and tag != ''">
                tag = #{tag},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount},
            </if>
            <if test="viewCount != null">
                view_count = #{viewCount},
            </if>
            <if test="likeCount != null">
                like_count = #{likeCount},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>
