<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joezeo.community.mapper.SteamHistoryPriceMapper">
    <insert id="insert" parameterType="SteamHistoryPrice">
        insert into t_steam_history_price
        values (default , #{appid}, #{price}, #{gmtCreate})
    </insert>
</mapper>
